@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>


<h3>Ласкаво просимо!<b /></h3>
<h3> FooDay вітає всіх, хто зайшов на сайт!<b /></h3>
<h3> Наш сайт потрібен для адміністраторів і менеджерів FooDay!<b /></h3>
<h3> Повірте, у нас є все необхідне. Вашій увазі широкий редактор елементів даних.<b /></h3>
<h3> «Чекаємо вас щодня, ми завжди до ваших послуг!»<b /></h3>
