@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
    Ukraine, Kharkiv<br />
    <abbr title="Phone">Phone:</abbr>
    +380999166492
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:oleh.khalieiev@nure.ua">oleh.khalieiev@nure.ua</a><br /><strong>Support:</strong>  <a href="mailto:serhii.myroshnychenko@nure.ua">serhii.myroshnychenko@nure.ua</a><br />
    <strong>Marketing:</strong> <a href="mailto:alina.boholidova@nure.ua">alina.boholidova@nure.ua</a>
</address>