@{
    ViewBag.Title = "Home Page";
}
<div class="card-body">
    @if (Session["FullName"] != null)
    {
        <p>Name: @Session["FullName"].ToString()</p>
        <p>Email: @Session["Email"].ToString()</p>
        <a href="@Url.Action("Logout","Home")" class="btn btn-warning">Logout</a>
    }
</div>
<div class="jumbotron">
    <img src="https://s3.business1-res.com/com_1110365_phpg7ygZF607ec48cbae580.63758419.png">
    <h1>FooDay</h1>
    <p class="lead">FooDay це те, що потрібно вам і вашому шлунку.</p>
    <p>
        <a href="https://tgrm.github.io/FooDay_bot" class="btn btn-primary btn-lg">
            Перейти до телеграм боту &raquo;
        </a>
    </p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Швидко</h2>
        <p>
            Наш плюс — швидкість. Замовте доставку в межах міста і ми все доставимо за лічені хвилини.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Смачно</h2>
        <p>Кращі кухарі планети зібрали разом, щоб приготувати для вас шедевр кулінарії!</p>
    </div>
    <div class="col-md-4">
        <h2>Безпечно</h2>
        <p>У наш час безпека — це все!</p>
    </div>
</div>